@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0a0a0a;
  --scrollbar-color: #73737373;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

.scrollbar-visible::-webkit-scrollbar {
  width: 6px;
  display: none;
}
.scrollbar-visible::-webkit-scrollbar-track {
  background: transparent;
}
.scrollbar-visible::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
  border-radius: 20px;
}
.scrollbar-visible:hover::-webkit-scrollbar {
  display: block;
}

button {
  cursor: pointer;
}

@custom-variant dark (&:where(.dark, .dark *));
